body{
 background-image:radial-gradient(circle,lightblue,lightpink,lightyellow);
}
.nk{
    position: fixed;
    bottom:10;right:30;
    box-shadow:5px 5px 5px grey;
}
.wow{
    box-shadow:5px 5px 5px grey; 

}
img{ transition:transform 1s; } img:hover{ transform :scale(1.1,1.1)}
.hi{
   background-color: rgb(247, 204, 210)
}
